.dropdown-header {
  display: flex;
  align-items: center;
}

.dropdown-content {
  margin-top: 1em;
  background-color: #ddd;
  color: #555;
  border-radius: 20px;
  /* makes it slide*/
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-in-out;
}

.dropdown-content.show {
  max-height: 1000px; /* needs to be px for sslide down to work */
  overflow: scroll;
}

.dropdown-inner-content {
  padding: 1em;
}

.rotate {
  transform: rotate(180deg);
  transition: transform 0.3s ease-in-out;
}
